<h1>Listing profiles</h1>

<table>
  <thead>
    <tr>

      <th>Name</th>
      <th>Avatar</th>
 
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>

      <tr>
        <td><%= profile.name %></td>
        <td><%= profile.avatar %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<%= link_to 'New Profile', new_profile_path %>
