<h3>Name</h3>
<%= @profile.name %>

<h3>Avatar</h3>
<%= @profile.avatar %>

<blockquote class="blockquote-reverse">
  <p>Hello</p> 
<footer>By <cite title="Source Title">Itsuko</cite>
</footer> 
</blockquote>

<br>
